@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background: #2de115;
    width: 100%;
    height: 83px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px 18px;
    box-sizing: border-box;
    z-index: 2;
}

img {
    margin: 8px 0 0;
    padding: 0;
    height: 40px;
    width: 169.94px;
    /* display: inline-block; */
}

section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.nav {
    display: flex;
    padding: 8px 0 0;
    margin: 0;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 859.78px;
}

.sec1 {
    background: url(./elementos_Graf/inicial.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    padding: 412px 80px 0px;
}

.nav>span, i {
    margin: 0 8px;
    font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.aqui {
    background: #0264fb;
    text-align: center;
    height: 62px;
    width: 174px;
    border-radius: 50px 0 50px 0;
    padding: 10px 32px;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.sec1 div h1, h2 {
    margin: 0;
    font-size: 66px;
    font-family: 'Montserrat', sans-serif;
}

.sec1 div h1 {
    font-size: 95px;
    position: relative;
    color: transparent;
    width: 21.7%;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.sec1 div h1:before {
    overflow: hidden;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    animation: type 4s steps(4) infinite;
    z-index: 0;
}

@keyframes type {
    0% {
        width: 0%;
    }
    70% {
        width: 100%;
    }
    90% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.sec1 div h2 {
    font-weight: 400Se;
    font-size: 5vw;
}

.sec2 {
    background: url('./elementos_Graf/Nuestros-aliados_img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* display: block; */
    /* position: absolute; */
    /* top: 2500px; */
    margin-top:200px; 

}

.sec2 h1 {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 95px 0px 24px;
    font-size: 35px;
}

.secText_testimonios h1 {
    text-align: center;
    color: #0264fb;
    padding-top: 95px;
    padding-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
}

.secText_footer {
    background: url('./elementos_Graf/background_footer.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.sec4 h1 {
    text-align: center;
    color: #0264fb;
    padding-top: 95px;
    padding-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
}

.secText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

.secText h1 {
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    line-height: 1.24;
    margin: 0 auto;
    display: block;
    padding-top: 95px;
    padding-bottom: 24px;
    text-align: center;
    color: #0264fb;
    font-weight: 400;
}

.secText p {
    text-align: center;
    font-family: Open Sans, sans-serif;
}

.divinin {
    margin: 0 137px;
    padding: 0 16px;
    height: 255px;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
}

#full {
    padding: 25px 25px 0px;
    margin: 0px;
    width: 800px;
    height: 200px;
    /* background: url(./elementos_Graf/codellege-logo-full-color.svg) */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* display: block; */
    position: absolute;
    left: 18vw;
    display: block;
}

.bco_sftk {}

#cuadro {
    padding: 16px;
    margin-right: 234px;
    width: 335px;
    height: 180px;
    border-bottom: dashed 4px;
    border-right: dashed 4px;
    border-color: #0264fb;
    /* border: 20px; */
    display: inline-block;
    box-sizing: border-box;
}

#cuadro1 {
    padding: 16px;
    width: 335px;
    height: 180px;
    border-bottom: dashed 4px;
    border-left: dashed 4px;
    border-color: #0264fb;
    margin: 0;
    /* border: 20px; */
    display: inline-block;
    box-sizing: border-box;
}

#secciones {
    /* margin-top: 200px; */
    width: 68%;
    height: 300px;
    ;
    display: flex;
    align-items: space-between;
    margin: 200px 155px 0px 188px;
    position: relative;
}

#uno {
    width: 250px;
    height: 58px;
    background: white;
    position: absolute;
    border-radius: 40px 50px 50px 0;
    top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dos {
    width: 300px;
    height: 58px;
    position: absolute;
    border-radius: 50px 40px 0px 50px;
    top: 150px;
    left: 652px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0; */
}

.spanini {
    margin: 0px;
    border-radius: 50px 50px 50px 50px;
    background: blue;
    height: 58px;
    width: 58px;
    color: white;
    justify-content: center;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.pro {
    font-size: 26px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.carrusel {
    padding: 0 40px;
    /* background: blue; */
    box-sizing: border-box;
    width: 975px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.carruselin {
    box-sizing: border-box;
    width: 800px;
    height: 116px;
    /* background: #000; */
    margin: 0px 47.5px;
    padding: 0px 20px;
    display: flex;
}

.personas {
    /* padding: 8px 16px; */
    width: 190px;
    height: 100%;
    /* background: white; */
    box-sizing: border-box;
}

.seccionsini {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px 0px;
    /* background: teal; */
}

.otro {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

.otro img {
    width: 38px;
    height: 38px;
}

.zona {
    /* background: #2de115; */
    height: 100%;
    width: 69%;
    box-sizing: border-box;
    margin: 0px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre {
    font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.lugar {
    font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #757575;
    font-weight: 300;
    font-size: 14.4px;
}

.slider {
    /* margin-left: 980px; */
    overflow: hidden;
    width: 975px;
    box-sizing: border-box;
}

.slider1 {
    display: flex;
    width: 300%;
    height: 100%;
    box-sizing: border-box;
    height: 330px;
    animation: cambio 20s ease-in-out infinite alternate;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    33% {
        margin-left: 0;
    }
    40% {
        margin-left: -100%;
    }
    66% {
        margin-left: -100%;
    }
    75% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}
.secTextin{
    display: block;
}
.secTextin h1 {
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    text-align: center;
    color: #0264fb;
    font-weight: 400;
    line-height: 1.24;
    margin: auto;
    display: block;
    font-size: 35px;
    padding: 95px 0px 24px;
}
.secTextin
.contenedor {
    box-sizing: border-box;
    width: 800px;
    height: 628px;
    padding: 40px 10px 120px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}
.contenedores2{
width: 380px;
height: 378px;
margin: 45px 0px;
padding: 16px;
/* background-color: rgba(88, 89, 91, 0.75); */
box-sizing: border-box;
}
.contenedores3{
    background-color: rgba(88, 89, 91, 0.75);
    width: 100%;
    height: 290px;
    position: relative;
}
.contenedores4{
    width: 100%;
    height: 56px;
    background: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Open Sans, sans-serif;
    font-size: 18px;

}
.contenedores3 img{
    width: 160px;
    height: 160px;
    position: absolute;
    top:-60px;
}
